.toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #673ab7;
    color: white;
    font-weight: 600;
    justify-content: center;
  }

  .toolbar img {
    margin: 0 16px;
  }